<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<h2>Error</h2>
		<p>An error has occurred on the Node.js server.</p>
		<a href="/">Return</a>
	</body>
</html>