<html>
   <head>
	<!-- This is the file upload application run with node.js using non-blocking file transfers -->
	   <link rel="stylesheet" href="/styles.css">
	   <title>Node.js File Upload</title>
   </head>
   <body>
	<h1>>Node.js Intro Server_</h1>
		<h2>Node.js File Upload</h2>
	   <form action="/upload" enctype="multipart/form-data" method="post" class="inputContent">
			<br/>
			<!-- This is the file upload section used to queue files for the application -->
			<input type="file" name="upload" multiple="multiple">			
			<!-- This is the button to submit the files to be uploaded -->
		   <input type="submit" value="Upload Files" />
		   <!-- This link takes you directly to the '/show' page to see all images uploaded to the server -->
		   <a href="/show">Show</a>
	   </form>
	   <!-- This is the area to explain the applications inner workings. -->
		<h2>Explanation</h2>
			<p>
				Clicking "Choose Files" will open up an upload dialog to choose what files you want to upload
				to the server. Multiple files can be selected by using the mouse and either the "Shift" or "Control"
				keys.
				<br/><br/>
				<img src="images/fileUpload.png" alt="file upload" style="display: block; margin-right: auto; margin-left: auto; height: 15%; width: 50%;" />
				<br/>
				When "Upload Files" is clicked, the server will process your request and the files will be uploaded 
				to the "images" folder on the server. <br/><br/>
				The files will be viewable on the "/show" page which can be reached by direct URL or by clicking 
				the "Show" link.
			</p>
		<h2>Walkthrough</h2>
			<ol>
				<li><span class="code">index.ejs</span> The user chooses or queues the files to be uploaded to
				the server.</li>
				<li><span class="code">index.ejs</span> "Upload Files" is clicked which submits the image file data
				as POST data to the server, emitting an "/upload" event from the form.</li>
				<li><span class="code">app.js</span> The server hears the "/upload" event and runs the internal
				function (line 72).</li>
				<li><span class="code">app.js</span> The server creates a "formidable" object, a construction from
				the "formidable" framework of node.js which handles form data. This object is set to accept multiple files.</li>
				<li><span class="code">app.js</span> When the object is then set, it parses the received request data 
				into a usable format for the server to manipulate.</li>
				<li><span class="code">app.js</span> The formidable object is then set to listen for "file" events, the event
				which is sent when the server detects and incoming file from the template form (line 80).</li>
				<li><span class="code">app.js</span> When a "file" event is heard, the application sets a variable to represent
				the filename of the incoming image to be manipulated to prevent overwriting.</li>
				<li><span class="code">app.js</span> A filename is received, split by the ".", a random number is added to
				the name and the filename is reconstructed again including the random number.</li>
				<li><span class="code">app.js</span> "fs" or FileSystem is then instructed to "rename" the incoming file to include
				the proper directory name of the server's "/images" filepath, copying it to the folder.</li>
				<li><span class="code">app.js</span> If an error occurs, an error message is shown in the command window,
				the duplicate file is deleted and the new file is added in the place of the older file.</li>
				<li><span class="code">app.js</span> This loops or continues through the application until all queued
				files have been delt with.</li>
				<li><span class="code">app.js</span> When the formidable object detects the "end" or no files are left
				to manipulate, it runs the internal function (line 100).</li>
				<li><span class="code">app.js</span> A response is sent back to the client of the rendered template
				"upload.ejs".</li>
				<li><span class="code">upload.ejs</span> The user is sent to the landing template and given the link
				to the "/show" template.</li>
				<li><span class="code">app.js</span> The server hears a request for "/show" and runs the internal
				function (line 109).</li>
				<li><span class="code">app.js</span> FileSystem("fs") is instructed to read through the directory of
				the server's current location and the "/images" folder. While that happens, it runs the internal function
				(line 111).</li>
				<li><span class="code">app.js</span> If an error occurs, the response is sent to render the error template, 
				which leads the user back to the main page.</li>
				<li><span class="code">app.js</span> An array is created to hold the names of the image files located in
				the folder.</li>
				<li><span class="code">app.js</span> The application runs a loop for each of the detected files (line 123).</li>
				<li><span class="code">app.js</span> A message is logged out to the command window everytime a file
				is read, and the name of the file is added to the array.</li>
				<li><span class="code">app.js</span> After the loop is finished the application renders the "show.ejs" template
				and packages the "images" array as usable data on that template (line 132).</li>
				<li><span class="code">show.ejs</span>The template starts a loop based on the length of the included data's
				array length (line 11).<li>
				<li><span class="code">show.ejs</span> While the loop runs, the attributes of an image tag in HTML are added
				to the array's values and added to the page, displaying the contents of the "/images" folder on the template.</li>
				<li><span class="code">show.ejs</span> Users can then access the link at the bottom of the page to go back to "index.ejs"</li>
			</ol>
   </body>
</html>