<html>
	<head>
		<!-- This is the viewing template used to see the images held on the server's "/images" folder -->
		<link rel="stylesheet" href="/styles.css">
		<title>Node.js File Upload</title>
	</head>
	<body>
	<h1>>Node.js Intro Server_</h1>
		<h2>Images Uploaded:</h2>
		<!-- loop through the "data" object the node server made available on this page -->
		<% for(var i=0;i<data.length;i++){ %>
				<!-- while the array is being read, add HTML imagetag attributes so that it can be displayed, and spacing for ease of viewing -->
				<img src='<%= data[i] %>' alt="uploadedimage"/><br/><br/>
		<% } %>
		<br/>
		<!-- This link bring the user back to the File Upload Application -->
		<a href="/file">Upload New Images</a>
	</body>
</html>