<html>
	<head>
		<!-- This is the landing template used when the images have been uploaded to the server -->
		<link rel="stylesheet" href="/styles.css">
		<title>Node.js File Upload</title>
	</head>
	<body>
	<h1>>Node.js Intro Server_</h1>
		<h2>Images Uploaded</h2>
		<!-- This link directs the user to the "/show" page -->
		<a href="/show">View Uploaded Images</a>
	</body>
</html>