/* GLOBAL STYLES*/
body {
	margin : 0px;
	padding : 0px;    
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C0C0C0;
    font-family: helvetica,verdana,sans-serif;
    color: #FFFFFF;
}
h1{
	color: #FFFFFF;
	background-color: #000000;
	padding-left: 5px;
	margin-top: 10px;
	box-shadow: 10px 10px 5px #888888;
}
h2{
	color: #CCFF33;
	background-color: #000000;
	padding-left: 5px;
	box-shadow: 10px 10px 5px #888888;
}
h3{
	color: #000000;
	background-color: #CCFF33;
	padding-left: 5px;
	box-shadow: 10px 10px 5px #888888;
}
p{
	color: #000000;
	background-color: #E6E6E6;
	padding: 3px;
	box-shadow: 10px 10px 5px #888888;
}
ol{
	color: #000000;
	background-color: #E6E6E6;
	padding: 3px;
	padding-left: 35px;
	box-shadow: 10px 10px 5px #888888;
}
a{
	color: #000000;
}
a:hover{
	background-color: #CCFF33;
}
/* CLASS STYLES*/
.indexImage{
	background-color: #E6E6E6;
	padding: 3px;
    display: block;    
    margin-right: auto;
	margin-left: auto;
	height: 25%;
	width: 35%;	
	box-shadow: 10px 10px 5px #888888;
}
.code{
	background-color: #000000;
	color: #FFFFFF;
	padding-right: 5px;
	padding-left: 5px;
}
.exampleTitle{
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}
.chatContent{
	box-shadow: 10px 10px 5px #888888;
}
.inputContent{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	box-shadow: 10px 10px 5px #888888;
}
.txtMessages{
	padding: 5px;
	background-color: #000000;
}
.chat_input{	
    display: inline-block;    
    margin-right: auto;
}
.chat_submit{	
    display: block;
    margin-left: auto;
}
.lblStatus{
	padding-left: 25px;
	padding-right: 25px;
	background-color: #000000;
    display: block;    
    margin-right: auto;
}